.pagination {
    text-align: center;
    padding: 0 0.5em;
    background-color: $table-header-bg-color;
    border: 1px solid $border-color-01;
}

pre {
  position: relative;
  margin: 5px 0 ;
  padding: 1.75rem 0 1.75rem 1rem;
}

button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.social-media-list li a {
  border: none; 
}

.site-nav {
  float: right;
  line-height: 54px;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #111;
    line-height: 1.5;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media screen and (max-width: 600px) {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;

    .nav-trigger {
      display: none !important;
      position: absolute !important;
      opacity: 0 !important;
      width: 0 !important;
      height: 0 !important;
      visibility: hidden !important;
    }

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: #424242;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      margin-left: 20px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}